<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-title>{{ 'SEARCH.GENRES' | translate }}</ion-title>

        <ion-buttons slot="end">
            <ion-button (click)="cerrar()">
                <ion-icon slot="icon-only" name="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="main-content">

    <ion-spinner *ngIf="cargando" class="ion-margin" color="primary"></ion-spinner>

    <ion-list *ngIf="!cargando">
        <ion-item
                button
                detail="true"
                *ngFor="let genero of generos"
                (click)="seleccionarGenero(genero)">
            <ion-label>{{ genero.name }}</ion-label>
        </ion-item>
    </ion-list>

</ion-content>