<ion-header>
    <ion-toolbar>
        <ion-title>Restablecer contraseña</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <ion-item>
        <ion-label position="floating">Correo electrónico</ion-label>
        <ion-input [(ngModel)]="email" type="email"></ion-input>
    </ion-item>

    <ion-button expand="full" (click)="sendReset()">Enviar enlace</ion-button>

</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="regresar()">
                <ion-icon slot="start" name="md-arrow-round-back"></ion-icon>
                <ion-label>Volver</ion-label>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>