<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-title>{{ 'AUTH.FORGOT_PASSWORD' | translate }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="main-content">

    <div class="container">

        <div class="icon-header">
            <ion-icon name="lock-open-outline"></ion-icon>
        </div>

        <p class="info-text">Ingresa tu correo electrónico y te enviaremos un enlace para restablecer tu contraseña.</p>

        <ion-item lines="none" class="custom-input">
            <ion-icon name="mail-outline" slot="start"></ion-icon>
            <ion-input [placeholder]="'AUTH.EMAIL' | translate" [(ngModel)]="email" type="email"></ion-input>
        </ion-item>

        <ion-button expand="block" class="action-btn" (click)="sendReset()">
            {{ 'COMMON.OK' | translate }}
        </ion-button>

    </div>

</ion-content>

<ion-footer class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="regresar()" color="medium">
                <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
                <ion-label>{{ 'COMMON.BACK' | translate }}</ion-label>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>