<ion-header>
    <ion-toolbar>
        <ion-title>Verificar correo</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <p>Si aún no has recibido el email de verificación, puedes enviarlo otra vez.</p>

    <ion-button expand="full" (click)="resend()">
        Reenviar correo de verificación
    </ion-button>

</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="regresar()">
                <ion-icon slot="start" name="md-arrow-round-back"></ion-icon>
                <ion-label>Volver</ion-label>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>