<ion-header>
    <ion-toolbar>
        <ion-title>{{ 'VERIFY_EMAIL.TITLE' | translate }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <p>{{ 'VERIFY_EMAIL.INFO_TEXT' | translate }}</p>

    <ion-button expand="full" (click)="resend()">
        {{ 'VERIFY_EMAIL.RESEND_BUTTON' | translate }}
    </ion-button>

</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="regresar()">
                <ion-icon slot="start" name="md-arrow-round-back"></ion-icon>
                <ion-label>{{ 'COMMON.BACK' | translate }}</ion-label>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>
