.poster-detalle-sobre {
    position: relative;
    top: -75px;
    left: -10px;
    margin-bottom: -75px;
}

.titulo {
    width: 100%;
    position: absolute;
    color: white;
    background-color: red;
    padding: 5px 5px 40px 5px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000', GradientType=0);
    /* IE6-9 */
}

.titulo h1 {
    position: absolute;
    top: 28px;
    left: 5px;
}

.card-actor {
    height: 210px;
}

.actor-name {
    position: relative;
    top: 15px;
}

.detalle-titulo {
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
  position: relative;
  margin-bottom: 1rem;
  padding-bottom: 0.4rem;
  color: var(--ion-color-primary);
}

.detalle-titulo::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 60%;
  height: 3px;
  background: linear-gradient(90deg, var(--ion-color-primary), var(--ion-color-secondary));
  border-radius: 2px;
}
