<ion-header>
    <ion-toolbar>
        <ion-title>{{ 'TABS.PROFILE' | translate }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="user$ | async as user">
    <ion-card>
        <ion-card-header>
            <ion-avatar>
                <img [src]="user.photoURL || 'assets/default-avatar.png'" />
            </ion-avatar>
            <ion-card-title>{{ user.displayName || user.email }}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <ion-label>{{ 'AUTH.EMAIL' | translate }}: {{ user.email }}</ion-label>

            <!-- Selector de Idioma -->
            <ion-item lines="none" class="ion-margin-top">
                <ion-label position="stacked">{{ 'PROFILE.LANGUAGE' | translate }}</ion-label>
                <ion-select [value]="selectedLanguageId" (ionChange)="onLanguageChange($event)" [placeholder]="'PROFILE.LANGUAGE' | translate">
                    <ion-select-option *ngFor="let lang of languages" [value]="lang.id">
                        {{ lang.description }} ({{ lang.code }})
                    </ion-select-option>
                </ion-select>
            </ion-item>

            <ion-button expand="block" color="medium" (click)="logout()" class="ion-margin-top">{{ 'AUTH.LOGOUT' | translate }}</ion-button>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-button fill="clear" (click)="goVerification()">{{ 'PROFILE.RESEND_VERIFICATION' | translate }}</ion-button>
    </ion-card>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-title size="small">Versión {{ appVersion }}</ion-title>
    </ion-toolbar>
</ion-footer>
