<ion-header translucent>
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-button (click)="cerrar()">
                <ion-icon slot="icon-only" name="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>{{ persona.name }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>

    <div class="actor-header">
        <img
                [src]="persona.profile_path | imagen"
                *ngIf="persona.profile_path">
        <img
                src="/assets/no-avatar.jpg"
                *ngIf="!persona.profile_path">
    </div>

    <ion-list lines="none">

        <ion-item *ngIf="persona.character">
            <ion-icon name="happy-outline" slot="start"></ion-icon>
            <ion-label>
                <h2>{{ 'ACTOR.CHARACTER' | translate }}</h2>
                <p>{{ persona.character }}</p>
            </ion-label>
        </ion-item>

        <ion-item *ngIf="persona.job">
            <ion-icon name="briefcase-outline" slot="start"></ion-icon>
            <ion-label>
                <h2>{{ 'ACTOR.ROLE' | translate }}</h2>
                <p>{{ persona.job }}</p>
            </ion-label>
        </ion-item>

        <ion-item *ngIf="persona.known_for_department">
            <ion-icon name="film-outline" slot="start"></ion-icon>
            <ion-label>
                <h2>{{ 'ACTOR.DEPARTMENT' | translate }}</h2>
                <p>{{ persona.known_for_department }}</p>
            </ion-label>
        </ion-item>

        <ion-item *ngIf="persona.popularity">
            <ion-icon name="trending-up-outline" slot="start"></ion-icon>
            <ion-label>
                <h2>{{ 'ACTOR.POPULARITY' | translate }}</h2>
                <p>{{ persona.popularity }}</p>
            </ion-label>
        </ion-item>

        <ion-item lines="none" class="biography-item" *ngIf="personDetail.biography">
            <ion-icon name="book-outline" slot="start"></ion-icon>

            <ion-label class="ion-text-wrap">
                <h2>{{ 'ACTOR.BIOGRAPHY' | translate }}</h2>

                <p class="biography-text" [class.expanded]="bioExpanded">
                    {{ personDetail.biography }}
                </p>

                <ion-button
                        fill="clear"
                        size="small"
                        class="bio-toggle"
                        (click)="bioExpanded = !bioExpanded">
                    {{ bioExpanded ? ('COMMON.SHOW_LESS' | translate) : ('COMMON.SHOW_MORE' | translate) }}
                </ion-button>
            </ion-label>
        </ion-item>


        <app-actor-filmografia
                [personId]="persona.id">
        </app-actor-filmografia>

    </ion-list>

</ion-content>
