<ion-header>
    <ion-toolbar>
        <ion-title>{{ 'AUTH.LOGIN' | translate }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-card>
        <ion-card-content>
            <ion-item>
                <ion-input [placeholder]="'AUTH.EMAIL' | translate" [(ngModel)]="email"></ion-input>
            </ion-item>

            <ion-item>
                <ion-input [placeholder]="'AUTH.PASSWORD' | translate" [(ngModel)]="password" type="password"></ion-input>
            </ion-item>

            <ion-button expand="block" (click)="login()">{{ 'AUTH.LOGIN' | translate }}</ion-button>
            <ion-button expand="block" fill="outline" (click)="register()">{{ 'AUTH.REGISTER' | translate }}</ion-button>
            <ion-button fill="clear" (click)="goForgot()">{{ 'AUTH.FORGOT_PASSWORD' | translate }}</ion-button>
            <ion-button expand="block" color="danger" (click)="loginGoogle()">
                <ion-icon slot="start" name="logo-google"></ion-icon>
                {{ 'AUTH.SIGN_IN_WITH_GOOGLE' | translate }}
            </ion-button>
        </ion-card-content>
    </ion-card>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-title size="small">Versión {{ appVersion }}</ion-title>
    </ion-toolbar>
</ion-footer>
