<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col>
                <h3>Favoritos</h3>
            </ion-col>
        </ion-row>
    </ion-grid>



    <div *ngFor="let genero of favoritoGenero">
        <ion-grid *ngIf="genero.pelis.length > 0">
            <ion-row>
                <ion-col>
                    <h4>{{genero.name}}</h4>
                </ion-col>
            </ion-row>
            <app-slideshow-poster-fav [peliculas]="genero.pelis"></app-slideshow-poster-fav>
        </ion-grid>
    </div>

</ion-content>