<ion-content [fullscreen]="true" *ngIf="loaded" class="main-content">

    <div class="section-header">
        <h2 class="section-title">{{ 'HOME.UPCOMING' | translate }}</h2>
    </div>

    <app-slideshow-backdrop [peliculas]="recientes"></app-slideshow-backdrop>

    <div class="section-header">
        <h2 class="section-title">{{ 'HOME.NOW_PLAYING' | translate }}</h2>
    </div>

    <app-slideshow-poster [peliculas]="recientes"></app-slideshow-poster>

    <div class="section-header">
        <h2 class="section-title">{{ 'HOME.POPULAR' | translate }}</h2>
    </div>

    <app-slideshow-pares [peliculas]="populares" (cargarMas)="cargarMas()"></app-slideshow-pares>

</ion-content>