<ion-header>
    <ion-toolbar>

        <!-- Flecha atrás -->
        <ion-buttons slot="start">
            <ion-back-button
                    defaultHref="/tabs/search"
                    text="">
            </ion-back-button>
        </ion-buttons>

        <ion-title>{{ generoNombre }}</ion-title>

    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-spinner
            *ngIf="cargando"
            class="ion-margin">
    </ion-spinner>

    <ion-grid *ngIf="!cargando">
        <ion-row>
            <ion-col size="4" *ngFor="let pelicula of peliculas">
                <ion-card (click)="verDetalle( pelicula.id )">
                    <img [src]="pelicula.poster_path | imagen" *ngIf="pelicula.poster_path">
                    <img src="/src/assets/no-image-banner.jpg" *ngIf="!pelicula.poster_path">
                    <ion-card-header>
                        <ion-card-subtitle>{{pelicula.release_date}}</ion-card-subtitle>
                    </ion-card-header>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>
