ion-card {
  position: relative; // Para que el texto se posicione dentro de la tarjeta
  padding: 0; // Para que la imagen ocupe toda la tarjeta
}

.card-image-container {
  position: relative;
  width: 100%; // Asegura que la imagen ocupe todo el ancho
  height: 200px; // Ajusta la altura según sea necesario
}

.card-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; // Para que la imagen cubra el contenedor sin distorsionarse
}

.text-overlay {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 5px; // Espacio interno
  background-color: rgba(0, 0, 0, 0.6); // Fondo oscuro semi-transparente
  color: white; // Color de la letra claro
  border: 1px solid white; // Borde blanco
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); // Sombra suave opcional
  z-index: 1; // Asegura que el texto esté sobre la imagen
}

.text-overlay p {
  margin: 0; // Elimina el margen por defecto del párrafo
  font-weight: bold; // Para que el texto resalte más
}