name: Deploy to Firebase PROD

on:
  workflow_dispatch:
    inputs:
      release_tag:
        description: "Tag de la release a desplegar (por ejemplo: v1.2.3)"
        required: true

jobs:
  deploy_prod:
    runs-on: ubuntu-latest
    environment: prod

    env:
      NG_APP_FIREBASE_API_KEY: ${{ secrets.FIREBASE_API_KEY }}
      NG_APP_FIREBASE_AUTH_DOMAIN: ${{ secrets.FIREBASE_AUTH_DOMAIN }}
      NG_APP_FIREBASE_PROJECT_ID: ${{ secrets.FIREBASE_PROJECT_ID }}
      NG_APP_FIREBASE_STORAGE_BUCKET: ${{ secrets.FIREBASE_STORAGE_BUCKET }}
      NG_APP_FIREBASE_MESSAGING_SENDER_ID: ${{ secrets.FIREBASE_MESSAGING_SENDER_ID }}
      NG_APP_FIREBASE_APP_ID: ${{ secrets.FIREBASE_APP_ID }}
      NG_APP_THEMOVIEDB_API_KEY: ${{ secrets.THEMOVIEDB_API_KEY }}
      GCP_SA_KEY: ${{ secrets.GCP_SA_KEY }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ github.event.inputs.release_tag }}

      - name: Install dependencies
        run: npm ci

      - name: Generate environment file
        run: node scripts/set-env.cjs ${{ github.event.inputs.release_tag }}

      - name: Build Angular app
        run: npm run build -- --configuration production

      - name: Deploy to Firebase Hosting
        uses: w9jds/firebase-action@v13.15.3
        with:
          args: deploy --only hosting
